extends ../layouts/default

block main
  link(rel='stylesheet', href='/css/index-page.css')


block content
  - if (articles.length)
    - var draftCount = 0;
    - var sentCount = 0;
    - var paidCount = 0;
    - var overdueCount = 0;
    -each article in articles
      -if (article.status == "draft")
        -  draftCount++
      -else if (article.status == "sent")
        -  sentCount++
      -else if (article.status == "paid")
        -  paidCount++
      -else if (article.status == "overdue")
        -  overdueCount++
    - var totalSent = paidCount + sentCount + overdueCount;
    - var total = totalSent + draftCount;
    .container.list
      header.row
        -if (received == "yes")
          h1.left.col-md-3= title
        -else
          h1.left.col-md-3 Invoices
        ul.right.counts.col-md-9
          li.all
            | All (#{total})
          li.draft
            | Drafts (#{draftCount})
          li.sent
            | Pending (#{sentCount})
          li.paid
            | Paid (#{paidCount})
          li.overdue
            | Overdue (#{overdueCount})
        div.col-lg-12
          hr

      .row
        //- if this is the received invoices page
        -if (articles.invoiceType == "received")
          //- let's put something here like number of days left until the next invoice is due and for how much?
        -else
          //- show flow bar chart for incoming cash
          //- this chart needs to be way shorter. like half its current height.
          - if (articles.length)
            -if (totalSent > 1)
              //.chart-wrapper.col-md-12
                //#area-chart
      .row
        - each article in articles
          - var viewer = article.viewers[0]? article.viewers[0].user.organization:'';
          a(href='/articles/'+article._id, class="#{article.status} article col-md-3 block")
            .status 
              span #{article.status}
              span.right # #{article.number}

            .content
              span recipients:
              if (article.viewers[0])
                h3.dim #{article.viewers[0].user.organization} - #{article.viewers[0].user.firstname} #{article.viewers[0].user.lastname}
              if (article.viewers[1])
                h3.dim #{article.viewers[1].user.organization}
              if (article.viewers[3])
                h4.dim more...

              .meta
                | &nbsp; - &nbsp;
                span Total &nbsp;
                span(href="/users/"+article.user._id)= formatCurrency(article.total)
                |&nbsp; - &nbsp;
                span=article.net
                -if (article.tags)
                  - each tag in article.tags.split(',')
                    span.tag ##{tag}
              p.date.muted
                | Created 
                span= formatDatetime(article.createdAt)


      - if (pages > 1)
        ul.pagination.row
          != createPagination(pages, page)
  - else
    h2.gray No invoices yet...
    p
      a(href="/articles/new", class="button") Create an Invoice

block subfoot
  script(type="text/javascript", src='/js/vendor/d3.js')
  //script(type="text/javascript", src='/js/index-page.js')
