extends ../layouts/default

block main
  link(rel='stylesheet', href='/css/jquery.handsontable.bootstrap.css')
  link(rel='stylesheet', href='/css/jquery.handsontable.full.css')
  link(rel='stylesheet', href='/css/jquery-ui.min.css')
  link(rel='stylesheet', href='/css/jquery-ui.ching.theme.css')



block content
  .container.invoice-form
    -if (article.title)
      h1= article.title
    -else
      h1 New Invoice
    .row
      .col-md-8
        p=article.body
        .meta
          - if (article.user)
            - var name = article.user.name ? article.user.name : article.user.username
            p To:&nbsp;
              a(href="/users/"+article.user._id)= name
            a.btn.subtle.right(href='/articles/'+article._id+'/viewer', title="edit")
              span.typcn.typcn-user-add
                |  Add Recipient
            hr
            - each viewer, i in article.viewers
              p.muted='organization:'
              p=viewer.user.organization
              p.muted='email:'
              p=viewer.user.email
              p.muted='Name:'
              span=viewer.user.lastname
              span ,&nbsp;
              span=viewer.user.firstname
              hr
            p From:&nbsp;
              p.muted='organization:'
              p=article.user.organization
              p=article.user.email
              span=article.user.lastname
              span=article.user.firstname

          - if (article.tags)
            p Tags &nbsp;
              - each tag in article.tags.split(',')
                i.muted.fa.fa-tag &nbsp;
                a.tag(href="/tags/"+tag)= tag
                | &nbsp;&nbsp;
          hr
          p 
            |created:
            span.muted= formatDatetime(article.createdAt, "%b %d, %Y at %I:%M %p")
          p 
            |status:
            span.muted= article.status

      .col-md-4
        - if (!article.isNew && article.image && article.image.files && article.image.files.length)
          img(src=article.image.cdnUri + '/mini_' + article.image.files[0])
    .row
      .col-md-4
          - if (req.user && req.article && req.article.user.id===req.user.id)
            a.btn.btn-default(href='/articles/'+article._id+'/edit', title="edit") Edit
            | &nbsp;

            form(action="/articles/"+article.id, method="post")
              input(type='hidden', name='_csrf', value="#{csrf_token}")

              input(type="hidden", name="_method", value="DELETE")
              
              button.btn.btn-danger(type="submit") Delete

            form(action="/articles/"+article.id+'/send', method="post")
              input(type='hidden', name='_csrf', value="#{csrf_token}")
              input(type="hidden", name="_method", value="POST")
              button.btn.btn-info(type="submit") Send

  .container
    .row
      .col-md-8
        button#pop_car.btn.btn-default
          | pop
  .container
    .row
      .col-md-8
        #grid
        table.remove-sidebar
          tbody
        button#add_car_time.btn.btn-default
          span.typcn.typcn-watch
          |  Add Time
        button#add_car_item.btn.btn-default
          span.typcn.typcn-plus
          |  Add Item
        div#total
          span
            |Total:&nbsp;
          span.amount
        hr
        input(id="fileupload", type="file", name="files[]", multiple)
        #dropzone
        div(id="files", class="files")
        br
        textarea#csv-ajax
        br
        br
        button.btn.btn-danger#destroyPreview Cancel
        #preview


  hr

  - if (req.user && req.article.user.id===req.user.id)
    .container
      .row
        .col-md-8
          p Views:&nbsp;
            - each view in article.views
              - if (view.user!=null)
                .view
                  span.firstname=view.user.firstname
                  | &nbsp;
                  span.lastname=view.user.lastname
                  | &nbsp; with &nbsp;
                  span.organization=view.user.organization
                  | &nbsp;(
                  span.email.muted=view.user.email
                  | )&nbsp; at &nbsp;
                  span.time.muted= formatDatetime(view.viewedAt, "%b %d, %Y at %I:%M %p")



  .container
    .row
        .col-md-8
          h3 Comments
          - each comment in article.comments
            include ../comments/comment
          include ../comments/form

block subfoot
  script(type="text/javascript", src='/js/vendor/jquery-ui.js')
  script(type="text/javascript", src="/js/vendor/underscore-min.js")
  script(type="text/javascript", src="/js/vendor/backbone-min.js")
  script(type="text/javascript", src="/js/vendor/jquery.handsontable.full.js")
  script(type="text/javascript", src="/js/vendor/jquery.ui.widget.js")
  script(type="text/javascript", src="/js/vendor/jquery.iframe-transport.js")
  script(type="text/javascript", src="/js/vendor/jquery.fileupload.js")
  script(type="text/javascript", src="/js/todos.js")
