extends ../layouts/default

block extrahead
  link(rel='stylesheet', href='/css/jquery.handsontable.bootstrap.css')
  link(rel='stylesheet', href='/css/jquery.handsontable.full.css')
  link(rel='stylesheet', href='/css/jquery-ui.min.css')
  link(rel='stylesheet', href='/css/jquery-ui.ching.theme.css')
  link(rel="stylesheet", href="/css/app.css")

block main
  .controls
    .container
      .row
        .col-md-12.invoice-bar

          - var actionPDF = "/articles/"+article._id+"/pdf"
          -if(req.token){actionPDF+= '/token/'+req.token}          

          a.btn(href=actionPDF)
            span.typcn.typcn-document-text
            |  Download PDF
          - if (article.paidOn)
            button.btn.btn-danger.subtle.btn-payed
              span.typcn.typcn-mail
                |  Mark as Not Paid
          -else if(!article.paymentVerified)
            button.btn.btn-payed
              span.typcn.typcn-bell
                |  Mark as Payed
          
          -if(article.paidOn && !article.paymentVerifiedOn && req.article.user.id===req.user.id)
            button.btn.btn-confirm-payed
              span.typcn.typcn-bell
                |  Confirm Payment
          //- a.btn(href="/articles/" + article._id + "/pdf")
          //-   span.typcn.typcn-document-text
          //-   |  Download CSV
          -if (invoiceType == "sent")
            button.btn.btn-danger.subtle.btn-confirm-delete
              span.typcn.typcn-trash
                |  Delete

          -if (invoiceType=='sent' && article.invoicedOn === null )
            button.btn.subtle.btn-confirm-send
              span.typcn.typcn-mail
                |  Send
          -else if (invoiceType=='sent')
            button.btn.subtle.btn-confirm-send
              span.typcn.typcn-mail
                |  Re-Send


block content
  .invoice-wrap
    .container.invoice-form.view-state
      .row
        .col-md-12
          .properties.clearfix
            div.left.col-md-8
              - if (!article.isNew && article.image && article.image.files && article.image.files.length)
                img(class="col-md-3", src=article.image.cdnUri + "/mini_" + article.image.files[0])
                - var hasImage = "col-md-9"
              - else
                - var hasImage = ""
              -if (article.status == "sent")
                h2(class="#{article.status} #{hasImage}") Sent on #{formatDate(article.invoicedOn)}
              -else if(article.status =='verified')
                h2(class="#{article.status} #{hasImage}") Paid on #{formatDate(article.paymentVerifiedOn)}
              -else if (article.status == "paid")
                h2(class="#{article.status} #{hasImage}") Payment Sent on #{formatDate(article.paidOn)}
              -else if (article.status == "overdue")
                -var today = new Date()
                -var pastDue = Math.round( (today.getTime() - article.dueOn.getTime())/86400000 )
                h2(class="#{article.status} #{hasImage}") Overdue #{pastDue} days
              -else
                h2(class="#{article.status} #{hasImage}") #{article.status}

              -if (article.description)
                br
                P=article.description
              -else if (req.article.user.id===req.user.id)
                br
                a.btn-edit Add a description...
                    
              -if (article.body)
                p=article.body
              - if (article.tags)
                p Tags: &nbsp;
                  - each tag in article.tags.split(',')
                    a.tag(href="/tags/"+tag) #{tag}
                    | &nbsp;&nbsp;

            .col-md-4.float-right.right
              - if (req.user && req.article && req.article.user.id===req.user.id)
                span.btn.btn-default.btn-edit
                  span.typcn.typcn-edit
                  |  Edit
              h4.mini  InvoiceNumber: #{formatInvoiceNumber(article.number)}
              if (article.dueOn)
                h4.mini Due Date: #{formatDate(article.dueOn)}  
              else if (req.article.user.id===req.user.id)
                 h4.mini Due Date: 
                  a.btn-edit Add Due Date
              if (article.invoicedOn)
                h4.mini Invoice Sent On: #{formatDate(article.invoicedOn)}
              if (article.paidOn)
                h4.mini Paid On: #{formatDate(article.paidOn)}   
              h4.gray
                span Created 
                span= formatDatetime(article.createdAt, "%b %d, %Y at %I:%M %p")
      hr
      .row
        .col-md-8
          .meta.clear.show-view
            div.view-content
                .clear.to-block.clearfix
                  p.col-sm-2 From:
                  div.col-sm-4.to
                    -if (article.user.firstname || article.user.lastname)
                      p
                        strong #{article.user.firstname} #{article.user.lastname}
                    p=article.user.email      
                    -if(article.user.organization)
                      p.gray='Organization: '
                      p=article.user.organization
      hr
      .row
        .col-md-8
          .meta.clear.show-view
            div.view-content
              - if (article.user)
                - var name = article.user.name ? article.user.name : article.user.username
                .clear.to-block.clearfix
                  p.col-sm-2 To: 
                  -if(article.viewers.length > 0)
                    - each viewer, i in article.viewers
                      div.col-sm-4.to
                        p
                          strong #{viewer.user.firstname} #{viewer.user.lastname}
                        p=viewer.user.email
                        p.gray='Organization: '
                        p=viewer.user.organization
                        -if (req.article.user.id===req.user.id)
                          form.form-inline(role="form", method="post", action="/articles/" + article._id + "/viewer/" + viewer._id)
                            input(type='hidden', name='_csrf', value="#{csrf_token}")
                            input(type="hidden", name="_method", value="DELETE")
                            button.close-button(type="submit")
                              span.typcn.typcn-delete

        - if (req.user && req.article && req.article.user.id===req.user.id)
          .col-md-4
            button.right.btn.add-recipient-trigger.closed
              span.typcn.typcn-user-add
                |  Add Recipient
          .row.clear
            .right-float.add-recipient-form(style="display: none;")
              div.add-recipient-position
                span.close-button
                  span.typcn.typcn-delete
                - if (true)
                  form.block(method="post", action='/articles/' + article.id + '/viewer', enctype="multipart/form-data", role="form")
                    input(type="hidden", name="_csrf", value="#{csrf_token}")
                    input(type="hidden", name="_method", value="POST")
                    .form-group
                      label.control-label(for='title') Email
                      input.form-control#title(type='text', name="email")
                    .form-group
                      label.control-label(for='title') First Name
                      input.form-control#title(type='text', name="firstname")
                    .form-group
                      label.control-label(for='title') Last Name
                      input.form-control#title(type='text', name="lastname")
                    .form-group
                      label.control-label(for='title') Organization <em><strong>(Optional)</strong></em>
                      input.form-control#title(type='text', name="organization")
                    .form-group
                      button.btn.subtle(type='submit')
                        span.typcn.typcn-user-add
                          |  Save
        .clear
          .col-md-12
            hr
          
          
    .container
      .col-md-12
        .scroll-indicator
        .row
          .col-md-12.table-container
            #tooltipSelection(style="width: 1px;height: 1px;")
            #tooltipCopyCut(style="width: 1px;height: 1px;")
            #tooltipAutofill(style="width: 1px;height: 1px;")
            #grid
            table.remove-sidebar
              tbody
      .row.clear
        .col-md-12
          br
          .col-md-12
            .col-md-6
              -if (invoiceType == "sent")
                button#add_car_time.btn.btn-default
                  span.typcn.typcn-watch
                  |  Add Time
                button#add_car_item.btn.btn-default
                  span.typcn.typcn-plus
                  |  Add Item
            .col-md-6
              div#total
                span
                  |Total:&nbsp;
                span.amount
      
      

      - if (req.user && req.article && req.article.user.id===req.user.id)
        hr
        .row
            .col-md-6
            .col-md-6#csv-file
              h4 
                | Import from 
                a.btn-csv-instrucions(href='javascript:void(0)') 
                 | CSV
                span  from  
                a.btn-csv-instrucions(href='javascript:void(0)' target="_blank")
                  | other accounting apps
              .csv-drop-file
                p
                  input.file-uploader#fileuploadcsv(type="file", name="files[]", multiple)
                #dropzone.dropzone
                  span.typcn.typcn-folder-open
                  .muted.text
                    | Drag and drop files here
                div(id="files", class="files")
              .csv-open-table-window
                p
                  | We have parsed your CSV!  You can 
                  strong
                    |cut and paste 
                  | items into your invoice with the link below.
                  
                form(target="_blank" action='/tableview' method="post")
                  input(type="hidden", name="_csrf", value="#{csrf_token}")
                  input.data(type='hidden' value='[["2009",0,2941,4303,354,5814],["2010",5,2905,2867,412,5284],["2011",4,2517,4822,552,6127],["2012",2,2422,5399,776,4151]]' name='csvdata')
                  button.btn(type='submit')
                    | See your data
              .csv-paste-text
                textarea#csv-ajax(placeholder="paste csv text here!")
                a.csv-toggle.btn.subtle(onclick="post()") Submit
        hr
        .row
            .col-md-6.images-grid
              h4
                | Images
              - each image in article.images
                //- span=image.file
                //- span=image.cdnUri
                //- span=image.user
                //-span=image.itemReference

                //- a(href=image.cdnUri+'/mini_'+image.file)
                //-   | link

                a.image(href="javascript:void(0)", data-src=image.cdnUri+'/detail_'+image.file)
                  img(src=image.cdnUri+'/thumb_'+image.file)

            .col-md-6
              h4
                | Add Image
              .csv-drop-file
                p
                  input.file-uploader#fileuploadimage( type="file", name="files[]", multiple)
                #dropzoneimage.dropzone
                  span.typcn.typcn-folder-open
                  .muted.text
                    | Drag and drop Images here
                div(id="files", class="files")

              //- .col-md-6
              //-   a.click(href='#none') &nbsp (toggle textarea and file upload)
              
    //- .container
    //-   .row
    //-     .col-md-12
    //-       button.pop.btn.btn-default(type='button', title="Popover title" , data-container='body', data-toggle='popover', data-placement='right', data-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
    //-         | Popover on left
    //-   .popover.right
    //-       .arrow
    //-         h3.popover-title Popover right
    //-         .popover-content
    //-           p
    //-             | Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.

    -if (article.status != "draft" && req.user && req.article.user.id===req.user.id)
      .container
        .row
          .col-md-12
            hr
            .col-md-8
              h3 Events:&nbsp;
              ul
                if (article.views.length===0)
                  p
                    | No activity yet...
              - each view in article.views.reverse()
                - if (view.user!=null)
                    li.views
                      abbr.timeago(title="#{view.viewedAt.toISOString()}")  
                      | &nbsp;
                      strong.firstname=view.user.firstname
                        | &nbsp;
                      strong.lastname=view.user.lastname
                        | &nbsp;
                      - if (view.user.organization)
                        |from&nbsp;
                        strong.organization=view.user.organization
                        | &nbsp;
                      //- span.email=view.user.email
                      //-   | &nbsp;&nbsp;
                      span
                        | viewed the invoice.&nbsp;
                      span.muted=formatDatetime(view.viewedAt.toISOString())
                    br
                        

    .container
      .row
        .col-md-12
          hr
          .col-md-8
            h3 Comments
            - each comment in article.comments
              include ../comments/comment
            include ../comments/form

block subfoot


  .modal.image-modal
    .container
      .modal-wrap.col-lg-9
        span.close-button
          span.typcn.typcn-delete
        .modal-header
        
        .row.center
          img
        hr

  .modal.csv-instrucions
    .container
      .modal-wrap.col-lg-8
        span.close-button
          span.typcn.typcn-delete
        .modal-header
          h4 CSV upload instructions
      
        p You can Upload 
          strong
            | CSV 
          | files from the other expense and time traking tools.
        p What beter we will automatically add them to your invoice! See instruction on where to get CSV file below:
        
        ul
          li Freshbooks
          li Ding
          li Bigtime
          li Expensify
          li Shoebox
          li Paymo
          li Pivotal Tracker
          li Toggl
            a(href='https://www.toggl.com/app/reports/detailed/')
              |Stuff
          li Harvest
            a(href='https://www.toggl.com/app/reports/detailed/')
              |Stuff

  //- .modal.confirm-payed-modal
  //-   .container
  //-     .modal-wrap.col-lg-8
  //-       span.close-button
  //-         span.typcn.typcn-delete
  //-       p Do you want to mark this invoice as payed? An email will be sent to the sender.
  //-       - if (article.paymentVerified && invoiceType == "sent")
  //-         form.form-inline(role="form", method="post", action="/articles/"+article._id+"/uppayed")
  //-           button.btn.btn-danger.btn-confirm-payed
  //-             span.typcn.typcn-document-text
  //-               |  Mark as Not Payed  
  //-       - else if (req.token)
  //-         form.form-inline(role="form", method="post", action="/articles/"+article._id+"/token/"+req.token+"/payed")
  //-           button.btn.btn-confirm
  //-             span.typcn.typcn-document-text
  //-               |  Mark as Payed
  //-       -else
  //-         form.modal-wrap col-lg-8.block.form-inline(role="form", method="post", action="/articles/"+article._id+"/payed")
  //-           - var action = "/articles/"+article._id+"/comments"
  //-           -if(req.token){action+= '/'+req.token}
  //-           input(type='hidden', name='_csrf', value="#{csrf_token}")
  //-           .form-group
  //-             textarea.form-control(type='text', rows="6", name="body", placeholder='Add your comment')
  //-             br
  //-             button.btn.btn-primary(type='submit') Mark as Payed

  .modal.payed-modal
    .container
      .modal-wrap.col-lg-8
        span.close-button
          span.typcn.typcn-delete
        - var action, button
        - if (article.paidOn)
          - action = "/articles/"+article._id+"/uppayed"
          - button = "Mark as Not Payed"
        - else if (req.token)
          - action = "/articles/"+article._id+"/token/"+req.token+"/payed"
          - button = "Mark as Payed"       
        -else
          - action = "/articles/"+article._id+"/payed"
          - button = "Mark as Payed"
        h4
          | Payment
        form(class="block edit-content", method="post", action=action, enctype="multipart/form-data", role="form")
          input(type="hidden", name="_csrf", value="#{csrf_token}")
          .form-group
            label.control-label(for='desc') Add Comment
            textarea.form-control#desc(rows="5", name="body", placeholder="Add a note to this action.")
          .form-group
            button.btn(type='submit')
              span.typcn.typcn-mail=button

  .modal.confirm-payed-modal
    .container
      .modal-wrap.col-lg-8
        span.close-button
          span.typcn.typcn-delete
        h4
          | Confirm
        form(class="block edit-content", method="post", action="/articles/"+article._id+"/payed", enctype="multipart/form-data", role="form")
          input(type="hidden", name="_csrf", value="#{csrf_token}")


          //- - if (!article.isNew)
          //-   input(type="hidden", name="_method", value="PUT")

          //- .form-group
          //-   label.control-label(for='file') Image
          //-   input.form-control#file(type='file', name="image[]")
          .form-group
            button.btn(type='submit')
              span.typcn.typcn-mail
                |Confirm Payment


  .modal.confirm-send-modal
    .container
      .modal-wrap.col-lg-8
        span.close-button
          span.typcn.typcn-delete
        -if ( article.viewers.length===0 )
          h4 Opps! You must ADD a RECIPIENT to this invoice first.
        -else if ( article.status === 'draft' )
          h4 Confirm Sending
          p Do you want to Send this invoice to #{article.viewers.length} recipient(s)?
          form(action="/articles/"+article.id+'/send', method="post")
            input(type='hidden', name='_csrf', value="#{csrf_token}")
            input(type="hidden", name="_method", value="POST")
            button.btn.subtle(type='submit')
              span.typcn.typcn-mail
                |  Send
        -else
          h4 Confirm Re-Send
          p Do you want to re-send this invoice to #{article.viewers.length} recipient(s)?
          form(action="/articles/"+article.id+'/send', method="post")
            input(type='hidden', name='_csrf', value="#{csrf_token}")
            input(type="hidden", name="_method", value="POST")
            button.btn.subtle(type='submit')
              span.typcn.typcn-mail
                |  Re-Send

  .modal.confirm-delete-modal
    .container
      .modal-wrap.col-lg-8
        span.close-button
         span.typcn.typcn-delete
        h4 Confirm Deletion
        p Do you want to permanently delete this invoice?
        form(action="/articles/"+article.id, method="post")
          input(type='hidden', name='_csrf', value="#{csrf_token}")
          input(type="hidden", name="_method", value="DELETE")
          button.btn.btn-danger.subtle(type='submit')
              span.typcn.typcn-user-add
                |  Confirm Deletion

  .modal.edit-properties-modal
    .container
      .modal-wrap.col-lg-8
        span.close-button
          span.typcn.typcn-delete
        form(class="block edit-content", method="post", action="/articles/"+article.id, enctype="multipart/form-data", role="form")
          input(type="hidden", name="_csrf", value="#{csrf_token}")

          - if (!article.isNew)
            input(type="hidden", name="_method", value="PUT")

          .form-group
            label.control-label(for='desc') Description
            textarea.form-control#desc(rows="5", name="description")=article.description

          .form-group
            label.control-label(for='tags') Tags
            input.form-control#tags(type='text', name="tags", value=article.tags, placeholder='Enter the tags')
          .form-group
            label.control-label(for='tags') Due Date
            -var date=article.dueOn?(article.dueOn.getMonth()+1)+'/'+article.dueOn.getDate()+'/'+article.dueOn.getFullYear():'';
            input.form-control#date.date(type='text', name="dueOn", value=date, placeholder='Due Date')
          .form-group.quickdates
            a(value='15') 15 Days
              | &nbsp|&nbsp&nbsp
            a(value='30') 30 Days
              | &nbsp|&nbsp&nbsp
            a(value='60') 60 Days
              | &nbsp|&nbsp&nbsp
            a(value='90') 90 Days
              span.muted &nbsp
          .form-group
            button.right-float.btn.action(type='submit')
              span.typcn.typcn-tick
              |  Save
            a.left-float.btn.subtle.cancel.btn-danger(title="cancel")
              span.typcn.typcn-times
              |  Cancel

          .col-md-4
            - if (!article.isNew && article.image && article.image.files && article.image.files.length)
              img(src=article.image.cdnUri + "/mini_" + article.image.files[0])
  script(type="text/javascript", src='/js/vendor/jquery-ui.js')
  script(type="text/javascript", src="/js/vendor/underscore-min.js")
  script(type="text/javascript", src="/js/vendor/backbone-min.js")
  script(type="text/javascript", src="/js/vendor/jquery.handsontable.full.js")
  script(type="text/javascript", src="/js/vendor/jquery.ui.widget.js")
  script(type="text/javascript", src="/js/vendor/jquery.iframe-transport.js")
  script(type="text/javascript", src="/js/vendor/jquery.fileupload.js")
  script(type="text/javascript", src="/js/vendor/jquery.timeago.js")
  script(type="text/javascript", src="/js/todos.js")
  script(src='https://d26b395fwzu5fz.cloudfront.net/3.1.0/keen.min.js', type='text/javascript')
  script.
    $( document ).ready(function() {
      //$(".add-recipient-form, .modal").hide();
      $(".invoice-form").on("click", ".add-recipient-trigger.closed", function() {
        $(".add-recipient-form").fadeIn();
        $(".add-recipient-trigger").removeClass("closed").addClass("opened");
      });
      $(".invoice-form").on("click", ".add-recipient-trigger.opened, .add-recipient-form .close-button", function() {
        $(".add-recipient-form").fadeOut();
        $(".add-recipient-trigger").removeClass("opened").addClass("closed");
      });


      $("body").addClass("view-state");
      $("body").on("click", ".btn-edit", function() {
        $(".edit-properties-modal").fadeIn();
      });

      $('.csv-toggle').on('click',function(){ //toogles the csv from file to paste area.
        $('#csv-file').toggleClass('visible');
      });

      $('.quickdates a').on('click',function(){  //Quick date selector used in edit modal for due date
        var val = $(this).attr('value'),
            dateDiv = $('#date'),
            myDate = new Date();//dateDiv.datepicker('getDate');

            myDate.setDate(myDate.getDate() + Number(val));
            dateDiv.datepicker('setDate',myDate);
      })

      $("body").on("click", ".image", function() {
        var src = $(this).attr('data-src')
        $(".image-modal img").attr("src",src)
        $(".image-modal").fadeIn();
      });
      $("body").on("click", ".btn-csv-instrucions", function() {
        $(".csv-instrucions").fadeIn();
      });
      $("body").on("click", ".btn-confirm-payed", function() {
        $(".confirm-payed-modal").fadeIn();
      });
      $("body").on("click", ".btn-payed", function() {
        $(".payed-modal").fadeIn();
      });
      $("body").on("click", ".btn-confirm-send", function() {
        $(".confirm-send-modal").fadeIn();
      });

      $("body").on("click", ".btn-confirm-delete", function() {
        $(".confirm-delete-modal").fadeIn();
      });

      $("body").on("click", ".csv-instrucions .close-button", function() {
        $(".csv-instrucions").fadeOut();
          if(keenClient){ //collect data for opening modal
            keenClient.addEvent("user_event",{
                type:'modal_csv_opened'
              , page: '/article/:id'
              , user:analyticsConstance.uId
              , session:analyticsConstance.sId
            });
          }
      });



      $("body").on("click", ".image-modal .close-button", function() {
        $(".image-modal").fadeOut();
      });
      $("body").on("click", ".payed-modal .close-button", function() {
        $(".payed-modal").fadeOut();
      });

      $("body").on("click", ".confirm-payed-modal .close-button", function() {
        $(".confirm-payed-modal").fadeOut();
      });

      

      $("body").on("click", ".confirm-delete-modal .close-button", function() {
        $(".confirm-delete-modal").fadeOut();
      });

      $("body").on("click", ".confirm-delete-modal .close-button", function() {
        $(".confirm-delete-modal").fadeOut();
      });

      $("body").on("click", ".confirm-send-modal .close-button", function() {
        $(".confirm-send-modal").fadeOut();
      });

      $("body").on("click", ".edit-properties-modal .close-button, .edit-properties-modal .cancel.btn", function() {
        $(".edit-properties-modal").fadeOut();
      });

      $('.dropzone').on('click',function(){

          $('.file-uploader', $(this).parent()).addClass("highlight").delay(500).queue(function(next){
              $(this).removeClass("highlight");
              next();
          });
        })


      //Keen Anatalytics
      window.keenClient = undefined;
      if (Keen){
        window.keenClient = new Keen({
          projectId: '#{keenConfigObj.projectId}',       // String (required)
          writeKey: '#{keenConfigObj.writeKey}', // String (required for sending data)
          //readKey: "your_project_read_key",   // String (required for querying data)
          //protocol: "https",                  // String (optional: https | http | auto)
          //host: "api.keen.io/3.0",            // String (optional)
          //requestType: "jsonp"                // String (optional: jsonp, xhr, beacon)
        });
      }
      
      window.analyticsConstance ={
          uId:'#{req.user.id}'
        , sId :'#{req.sessionID}'
      }

      $(window).bind('copy cut paste', function(event) { //see if they are copying and pasting.
          if(keenClient && event.target.className=='copyPaste'){
            keenClient.addEvent("user_event",{
                type:'cut_paste_csv_opened'
              , action: event.type?event.type:null
              , page: '/article/:id'
              , user:analyticsConstance.uId
              , session:analyticsConstance.sId
            });
          }  
      });
    });
