extends ../layouts/default

block main
  h1= article.title
  link(rel='stylesheet', href='/css/jquery.handsontable.bootstrap.css')
  link(rel='stylesheet', href='/css/jquery.handsontable.full.css')
  link(rel='stylesheet', href='/css/jquery-ui.min.css')
  link(rel='stylesheet', href='/css/jquery-ui.ching.theme.css')



block content
  .row
    .col-md-8
      p=article.body
      .meta
        - if (article.user)
          - var name = article.user.name ? article.user.name : article.user.username
          p Author :&nbsp;
            a(href="/users/"+article.user._id)= name

        - if (article.tags)
          p Tags &nbsp;
            - each tag in article.tags.split(',')
              i.muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;

        p.muted= formatDate(article.createdAt, "%b %d, %Y at %I:%M %p")

    .col-md-4
      - if (!article.isNew && article.image && article.image.files && article.image.files.length)
        img(src=article.image.cdnUri + '/mini_' + article.image.files[0])
  .row
    .col-md-4
        - if (req.user && req.article.user.id===req.user.id)
          a.btn.btn-default(href='/articles/'+article._id+'/edit', title="edit") Edit
          | &nbsp;
          a.btn.btn-default(href='/articles/'+article._id+'/viewer', title="edit") Share
          | &nbsp;
          form(action="/articles/"+article.id, method="post")
            input(type='hidden', name='_csrf', value="#{csrf_token}")

            input(type="hidden", name="_method", value="DELETE")
            
            button.btn.btn-danger(type="submit") Delete

          form(action="/articles/"+article.id+'/send', method="post")
            input(type='hidden', name='_csrf', value="#{csrf_token}")
            input(type="hidden", name="_method", value="POST")
            button.btn.btn-info(type="submit") Send

  br
  .row
    .col-md-8
      button#pop_car.btn.btn-default
        | pop
  br
  .row
    .col-md-8
      #grid
      table.remove-sidebar
        tbody
      button#add_car.btn.btn-default
        | add

  - if (req.user && req.article.user.id===req.user.id)
    .row
      .col-md-8
        p Views :&nbsp;
          - each view in article.views
            - if (view.user!=null)
              .view
                span.firstname=view.user.firstname
                | &nbsp;
                span.lastname=view.user.lastname
                | &nbsp; with &nbsp;
                span.organization=view.user.organization
                | &nbsp;(
                span.email.muted=view.user.email
                | )&nbsp; at &nbsp;
                span.time.muted= formatDatetime(view.viewedAt, "%b %d, %Y at %I:%M %p")



  br
  h3 Comments
  - each comment in article.comments
    include ../comments/comment
  include ../comments/form

block subfoot
  script(type="text/javascript", src='/js/vendor/jquery-ui.js')
  script(type="text/javascript", src="/js/vendor/underscore-min.js")
  script(type="text/javascript", src="/js/vendor/backbone-min.js")
  script(type="text/javascript", src="/js/vendor/jquery.handsontable.full.js")
  script(type="text/javascript", src="/js/todos.js")