extends ../layouts/default

block extrahead
  link(rel='stylesheet', href='/css/jquery.handsontable.bootstrap.css')
  link(rel='stylesheet', href='/css/jquery.handsontable.full.css')
  link(rel='stylesheet', href='/css/jquery-ui.min.css')
  link(rel='stylesheet', href='/css/jquery-ui.ching.theme.css')

block main
  .controls
    .container
      .row
        .col-md-8
          - if (req.user && req.article && req.article.user.id===req.user.id)
            button.btn.btn-default.btn-edit Edit
            | &nbsp;

            form(action="/articles/"+article.id, method="post")
              input(type='hidden', name='_csrf', value="#{csrf_token}")

              input(type="hidden", name="_method", value="DELETE")
              
              button.btn.btn-danger(type="submit") Delete

            form(action="/articles/"+article.id+'/send', method="post")
              input(type='hidden', name='_csrf', value="#{csrf_token}")
              input(type="hidden", name="_method", value="POST")
              button.btn.btn-info(type="submit") Send




block content
  .container.invoice-form.view-state
    div.left
      -if (article.title)
        h1= article.title
      -else
        h1 Invoice 
      p 
        |Created: 
        span.lightgray= formatDatetime(article.createdAt, "%b %d, %Y at %I:%M %p")
      p
        | Status: 
        span.lightgray= article.status

    

      .col-md-4
        - if (!article.isNew && article.image && article.image.files && article.image.files.length)
          img(src=article.image.cdnUri + "/mini_" + article.image.files[0])

    .row
      .col-md-8
        p=article.body

        .meta.clear.show-view
          form(class="block edit-content", method="post", action=action, enctype="multipart/form-data", role="form")

            input(type="hidden", name="_csrf", value="#{csrf_token}")

            - if (!article.isNew)
              input(type="hidden", name="_method", value="PUT")

            .form-group
              label.control-label(for='title') Title
              input.form-control#title(type='text', name="title", value=article.title, placeholder='Enter the title')

            .form-group
              label.control-label(for='file') Image
              input.form-control#file(type='file', name="image[]")

            .form-group
              label.control-label(for='desc') Body
              textarea.form-control#desc(rows="5", name="body", placeholder='Enter the article description')=article.body

            .form-group
              label.control-label(for='tags') Tags
              input.form-control#tags(type='text', name="tags", value=article.tags, placeholder='Enter the tags')

            .form-group
              label.control-label(for='tags') Net
              input.form-control#tags(type='number', name="net", value=article.net, placeholder='net')

            .form-group
              .col-sm-10
                button.left-float.btn.btn-primary(type='submit') Save
                | &nbsp;
                a.right-float.btn(href='/articles', title="cancel") Cancel

            .col-md-4
              - if (!article.isNew && article.image && article.image.files && article.image.files.length)
                img(src=article.image.cdnUri + "/mini_" + article.image.files[0])
          div.view-content
            - if (article.user)
              - var name = article.user.name ? article.user.name : article.user.username
              .clear
                p.col-sm-2 To:&nbsp;
                  a(href="/users/"+article.user._id)= name
              hr.clear
              -if(article.viewers.length > 0)
                .clear
                  - each viewer, i in article.viewers
                    p.muted='organization:'
                    p=viewer.user.organization
                    p.muted='email:'
                    p=viewer.user.email
                    p.muted='Name:'
                    span=viewer.user.lastname
                    span ,&nbsp;
                    span=viewer.user.firstname
                    hr
                    a.btn.btn-danger.btn-link.error(href="/articles/" + article._id + "/pdf") Download PDF 
                    button.btn.btn-danger.btn-link.error(type="submit") Download PDF 
                    hr
                    form.form-inline(role="form", method="post", action="/articles/" + article._id + "/viewer/" + viewer._id, onsubmit="return confirm('Are you sure?')")
                      input(type='hidden', name='_csrf', value="#{csrf_token}")
                      input(type="hidden", name="_method", value="DELETE")
                      button.btn.btn-danger.btn-link.error(type="submit") delete 
                  hr
              .clear
                p.col-sm-2 From:&nbsp;
                  -if(article.user.organization)
                    p.muted='organization:'
                    p=article.user.organization
                  p.col-sm-2=article.user.email
                  span=article.user.lastname
                  span=article.user.firstname


                - if (article.tags)
                  p Tags &nbsp;
                    - each tag in article.tags.split(',')
                      i.muted.fa.fa-tag &nbsp;
                      a.tag(href="/tags/"+tag)= tag
                      | &nbsp;&nbsp;
      .col-md-4
        button.right.btn.subtle.add-recipient-trigger.closed
          span.typcn.typcn-user-add
            |  Add Recipient
        .row.clear
          .right-float.add-recipient-form
            div.add-recipient-position
              span.close-button
                span.typcn.typcn-delete
              form.block(method="post", action='/articles/' + article.id + '/viewer', enctype="multipart/form-data", role="form")
                input(type="hidden", name="_csrf", value="#{csrf_token}")
                input(type="hidden", name="_method", value="POST")
                .form-group
                  label.control-label(for='title') Email
                  input.form-control#title(type='text', name="email")
                .form-group
                  label.control-label(for='title') First Name
                  input.form-control#title(type='text', name="firstname")
                .form-group
                  label.control-label(for='title') Last Name
                  input.form-control#title(type='text', name="lastname")
                .form-group
                  label.control-label(for='title') Organization <em><strong>(Optional)</strong></em>
                  input.form-control#title(type='text', name="organization")
                .form-group
                  button.btn.subtle(type='submit')
                    span.typcn.typcn-user-add
                      |  Save
      .clear
        hr
        .col-md-8
          

      .col-md-4
        - if (!article.isNew && article.image && article.image.files && article.image.files.length)
          img(src=article.image.cdnUri + '/mini_' + article.image.files[0])
    .net=article.net


  .container
    .row
      .col-md-8
        button#pop_car.btn.btn-default
          | pop
  .container
    .row
      .col-md-8
        #grid
        table.remove-sidebar
          tbody
        button#add_car_time.btn.btn-default
          span.typcn.typcn-watch
          |  Add Time
        button#add_car_item.btn.btn-default
          span.typcn.typcn-plus
          |  Add Item
        div#total
          span
            |Total:&nbsp;
          span.amount
        hr
        input(id="fileupload", type="file", name="files[]", multiple)
        #dropzone
        div(id="files", class="files")
        br
        textarea#csv-ajax
        br
        br
        button.btn.btn-danger#destroyPreview Cancel
        #preview


  hr

  - if (req.user && req.article.user.id===req.user.id)
    .container
      .row
        .col-md-8
          p Views:&nbsp;
            - each view in article.views
              - if (view.user!=null)
                .view
                  span.firstname=view.user.firstname
                  | &nbsp;
                  span.lastname=view.user.lastname
                  | &nbsp; with &nbsp;
                  span.organization=view.user.organization
                  | &nbsp;(
                  span.email.muted=view.user.email
                  | )&nbsp; at &nbsp;
                  span.time.muted= formatDatetime(view.viewedAt, "%b %d, %Y at %I:%M %p")



  .container
    .row
        .col-md-8
          h3 Comments
          - each comment in article.comments
            include ../comments/comment
          include ../comments/form

block subfoot
  script(type="text/javascript", src='/js/vendor/jquery-ui.js')
  script(type="text/javascript", src="/js/vendor/underscore-min.js")
  script(type="text/javascript", src="/js/vendor/backbone-min.js")
  script(type="text/javascript", src="/js/vendor/jquery.handsontable.full.js")
  script(type="text/javascript", src="/js/vendor/jquery.ui.widget.js")
  script(type="text/javascript", src="/js/vendor/jquery.iframe-transport.js")
  script(type="text/javascript", src="/js/vendor/jquery.fileupload.js")
  script(type="text/javascript", src="/js/todos.js")
  script.
    $( document ).ready(function() {
      $(".add-recipient-form").hide();
      $(".invoice-form").on("click", ".add-recipient-trigger.closed", function() {
        $(".add-recipient-form").fadeIn();
        $(".add-recipient-trigger").removeClass("closed").addClass("opened");
      });
      $(".invoice-form").on("click", ".add-recipient-trigger.opened, .add-recipient-form .close-button", function() {
        $(".add-recipient-form").fadeOut();
        $(".add-recipient-trigger").removeClass("opened").addClass("closed");
      });

      $(".edit-content").hide();
      $("body").addClass("view-state");
      $("body.view-state").on("click", ".btn-edit", function() {
        $(".view-content").fadeOut("fast", function() {
          $(".edit-content").fadeIn("fast");
          $("body").removeClass("view-state").addClass("edit-state");          
        });
      });
      $(".invoice-form.edit-state").on("click", ".add-recipient-trigger.opened", function() {
        $(".add-recipient-form").fadeOut();
        $(".add-recipient-trigger").removeClass("opened").addClass("closed");
      });

    });
