extends ../layouts/default

block extrahead
  link(rel='stylesheet', href='/css/jquery.handsontable.bootstrap.css')
  link(rel='stylesheet', href='/css/jquery.handsontable.full.css')
  link(rel='stylesheet', href='/css/jquery-ui.min.css')
  link(rel='stylesheet', href='/css/jquery-ui.ching.theme.css')

block main
  .controls
    .container
      .row
        .col-md-12
          - if (req.user && req.article && req.article.user.id===req.user.id)
            form(action="/articles/"+article.id, method="post")
              input(type='hidden', name='_csrf', value="#{csrf_token}")
              input(type="hidden", name="_method", value="DELETE")
              button.btn.btn-danger.subtle(type='submit')
                  span.typcn.typcn-user-add
                    |  Delete


            a.btn(href="/articles/" + article._id + "/pdf")
              span.typcn.typcn-document-text
              |  Download PDF 

            form(action="/articles/"+article.id+'/send', method="post")
              input(type='hidden', name='_csrf', value="#{csrf_token}")
              input(type="hidden", name="_method", value="POST")
              button.btn.subtle(type='submit')
                  span.typcn.typcn-mail
                    |  Send
      



block content
  .invoice-wrap
    .container.invoice-form.view-state
      .row
        .col-md-12
          .properties.clearfix
            div.left.col-md-8
              - if (!article.isNew && article.image && article.image.files && article.image.files.length)
                img(class="col-md-3", src=article.image.cdnUri + "/mini_" + article.image.files[0])
                - var hasImage = "col-md-9"
              - else
                - var hasImage = ""
              -if (article.status == "sent")
                h2(class="#{article.status} #{hasImage}") Sent on #{formatDate(article.invoicedOn)}
              -else if (article.status == "paid")
                h2(class="#{article.status} #{hasImage}") Paid on #{formatDate(article.paidOn)}
              -else if (article.status == "overdue")
                -var today = new Date()
                -var pastDue = Math.round( (today.getTime() - article.dueOn.getTime())/86400000 )
                h2(class="#{article.status} #{hasImage}") Overdue #{pastDue} days
              -else
                h2(class="#{article.status} #{hasImage}") #{article.status}

              -if (article.title)
                h1 article.title
              -else
                br
                a.btn-edit Add a title...
                    
              -if (article.status != "draft" && req.user && req.article.user.id===req.user.id)
                h3 Views:&nbsp;
                  - each view in article.views
                    - if (view.user!=null)
                      .view
                        span.firstname=view.user.firstname
                        | &nbsp;
                        span.lastname=view.user.lastname
                        | &nbsp; with &nbsp;
                        span.organization=view.user.organization
                        | &nbsp;(
                        span.email.muted=view.user.email
                        | )&nbsp; at &nbsp;
                        span.time.muted= formatDatetime(view.viewedAt, "%b %d, %Y at %I:%M %p")
              -if (article.body)
                p=article.body
              - if (article.tags)
                p Tags: &nbsp;
                  - each tag in article.tags.split(',')
                    a.tag(href="/tags/"+tag) ##{tag}
                    | &nbsp;&nbsp;

            .col-md-4.float-right.right
              - if (req.user && req.article && req.article.user.id===req.user.id)
                span.btn.btn-default.btn-edit
                  span.typcn.typcn-edit
                  |  Edit
              h4.mini  InvoiceNumber: #{article.number}
              if (article.dueOn)
                h4.mini Due Date: #{formatDate(article.dueOn)}  
              else
                 h4.mini Due Date: 
                  a.btn-edit Add Due Date
              if (article.invoicedOn)
                h4.mini Invoiced On: #{formatDate(article.invoicedOn)}
              if (article.paidOn)
                h4.mini Paid On: #{formatDate(article.paidOn)}   
              h4.gray
                span Created 
                span= formatDatetime(article.createdAt, "%b %d, %Y at %I:%M %p")
                
      hr
      .row
        .col-md-8

          .meta.clear.show-view
            div.view-content
              - if (article.user)
                - var name = article.user.name ? article.user.name : article.user.username
                .clear.to-block.clearfix
                  p.col-sm-2 To: 
                  -if(article.viewers.length > 0)
                    - each viewer, i in article.viewers
                      div.col-sm-4.to
                        p
                          strong #{viewer.user.firstname} #{viewer.user.lastname}
                        p=viewer.user.email
                        p=viewer.user.organization
                        form.form-inline(role="form", method="post", action="/articles/" + article._id + "/viewer/" + viewer._id, onsubmit="return confirm('Are you sure?')")
                          input(type='hidden', name='_csrf', value="#{csrf_token}")
                          input(type="hidden", name="_method", value="DELETE")
                          div.close-button
                            span.typcn.typcn-delete
                hr
                .clear.clearfix
                  p.col-sm-2 From:
                  div.col-sm-4
                    -if (article.user.firstname || article.user.lastname)
                      p
                        strong #{article.user.firstname} #{article.user.lastname}
                    -if(article.user.organization)
                      p.gray='Organization: '
                      p=article.user.organization
                    p=article.user.email

        .col-md-4
          button.right.btn.add-recipient-trigger.closed
            span.typcn.typcn-user-add
              |  Add Recipient
          .row.clear
            .right-float.add-recipient-form
              div.add-recipient-position
                span.close-button
                  span.typcn.typcn-delete
                form.block(method="post", action='/articles/' + article.id + '/viewer', enctype="multipart/form-data", role="form")
                  input(type="hidden", name="_csrf", value="#{csrf_token}")
                  input(type="hidden", name="_method", value="POST")
                  .form-group
                    label.control-label(for='title') Email
                    input.form-control#title(type='text', name="email")
                  .form-group
                    label.control-label(for='title') First Name
                    input.form-control#title(type='text', name="firstname")
                  .form-group
                    label.control-label(for='title') Last Name
                    input.form-control#title(type='text', name="lastname")
                  .form-group
                    label.control-label(for='title') Organization <em><strong>(Optional)</strong></em>
                    input.form-control#title(type='text', name="organization")
                  .form-group
                    button.btn.subtle(type='submit')
                      span.typcn.typcn-user-add
                        |  Save
        .clear
          .col-md-12
            hr
          
          
    .container
      .row
        .col-md-12
          .col-md-12.table-container
            #grid
            table.remove-sidebar
              tbody
      .row.clear
        .col-md-12
          br
          .col-md-12
            .col-md-6
              button#add_car_time.btn.btn-default
                span.typcn.typcn-watch
                |  Add Time
              button#add_car_item.btn.btn-default
                span.typcn.typcn-plus
                |  Add Item
            .col-md-6
              div#total
                span
                  |Total:&nbsp;
                span.amount
      
      
      
      .row#preview-area
        .col-md-12
          #preview
          a(href='')
      hr
      .row
        .col-md-12
          .col-md-6

          .col-md-6#csv-file
            h3 
              | Import from 
              a(href='http://office.microsoft.com/en-us/excel-help/import-or-export-text-txt-or-csv-files-HP010099725.aspx') Comma-separated values
            .csv-drop-file
              p
                input(id="fileupload", type="file", name="files[]", multiple)
              #dropzone
                span.typcn.typcn-folder-open
              div(id="files", class="files")
            .csv-paste-text
              textarea#csv-ajax(placeholder="paste csv text here!")
              a.btn.subtle(onclick="post()") Submit
            a.click(href='#none') &nbsp (toggle textarea and file upload)


            
    .container
      .row
        .col-md-12
          hr
          .col-md-8
            h3 Comments
            - each comment in article.comments
              include ../comments/comment
            include ../comments/form

block subfoot
  .modal.edit-properties-modal
    .container
      .modal-wrap.col-lg-8
        span.close-button
          span.typcn.typcn-delete
        form(class="block edit-content", method="post", action="/articles/"+article.id, enctype="multipart/form-data", role="form")

          input(type="hidden", name="_csrf", value="#{csrf_token}")

          - if (!article.isNew)
            input(type="hidden", name="_method", value="PUT")

          .form-group
            label.control-label(for='title') Title
            input.form-control#title(type='text', name="title", value=article.title, placeholder='Enter the title')

          .form-group
            label.control-label(for='file') Image
            input.form-control#file(type='file', name="image[]")

          .form-group
            label.control-label(for='desc') Description
            textarea.form-control#desc(rows="5", name="body")=article.body

          .form-group
            label.control-label(for='tags') Tags
            input.form-control#tags(type='text', name="tags", value=article.tags, placeholder='Enter the tags')
          .form-group
            label.control-label(for='tags') Due Date
            -var date=article.dueOn?(article.dueOn.getMonth()+1)+'/'+article.dueOn.getDate()+'/'+article.dueOn.getFullYear():'';
            input.form-control#date.date(type='text', name="dueOn", value=date, placeholder='Due Date')
          .form-group.quickdates
            a(value='15') 15 Days
            &nbsp|&nbsp&nbsp
            a(value='30') 30 Days
            &nbsp|&nbsp&nbsp
            a(value='60') 60 Days
            &nbsp|&nbsp&nbsp
            a(value='90') 90 Days
            span.muted &nbsp&nbsp(from today)
          .form-group
            button.right-float.btn.action(type='submit')
              span.typcn.typcn-tick
              |  Save
            a.left-float.btn.subtle.cancel.btn-danger(title="cancel")
              span.typcn.typcn-times
              |  Cancel

          .col-md-4
            - if (!article.isNew && article.image && article.image.files && article.image.files.length)
              img(src=article.image.cdnUri + "/mini_" + article.image.files[0])
  script(type="text/javascript", src='/js/vendor/jquery-ui.js')
  script(type="text/javascript", src="/js/vendor/underscore-min.js")
  script(type="text/javascript", src="/js/vendor/backbone-min.js")
  script(type="text/javascript", src="/js/vendor/jquery.handsontable.full.js")
  script(type="text/javascript", src="/js/vendor/jquery.ui.widget.js")
  script(type="text/javascript", src="/js/vendor/jquery.iframe-transport.js")
  script(type="text/javascript", src="/js/vendor/jquery.fileupload.js")
  script(type="text/javascript", src="/js/todos.js")
  script.
    $( document ).ready(function() {
      $(".add-recipient-form, .modal").hide();
      $(".invoice-form").on("click", ".add-recipient-trigger.closed", function() {
        $(".add-recipient-form").fadeIn();
        $(".add-recipient-trigger").removeClass("closed").addClass("opened");
      });
      $(".invoice-form").on("click", ".add-recipient-trigger.opened, .add-recipient-form .close-button", function() {
        $(".add-recipient-form").fadeOut();
        $(".add-recipient-trigger").removeClass("opened").addClass("closed");
      });

      $("body").addClass("view-state");
      $("body").on("click", ".btn-edit", function() {
        $(".edit-properties-modal").fadeIn();
      });
      $("body").on("click", ".edit-properties-modal .close-button, .edit-properties-modal .cancel.btn", function() {
        $(".edit-properties-modal").fadeOut();
      });

    });
