extends ../layouts/default

block main
  link(rel='stylesheet', href='/css/index-page.css')
  .container.profile
    h3=user
    h1= title
    .row
      .col-md-8
        span.right.btn.btn-default.btn-edit
          span(class="typcn typcn-edit")
            |  Edit
        .meta
            p.muted='Email: '+user.email
        .meta
            p='Name: '+user.firstname+" "+user.lastname
        .meta
            p='Organization: '+user.organization
        .meta
            p
              | Address:
              br
              | #{user.address}
              br
              | #{user.city}, #{user.state} #{user.zipcode}
            


    .row
      hr
      .col-md-4
        h4
          | Send me a password reset email:
        form.form-horizontal(action="/reset", method="post", role="form")
          input(type='hidden', name='_csrf', value="#{csrf_token}")
          input#email.form-control(type='hidden', placeholder="Your Email", name="email" value=user.email)
          br
          button.btn(type='submit')
            span(class="typcn typcn-mail")
              |  Send Email

    
    .row.last
      hr
      .col-md-6
        - if (user.profileImageCDN && user.profileImageFile)
          h4 Current Image:
          img(src="#{user.profileImageCDN}/user_thumb_#{user.profileImageFile}")
      .col-md-6
        h4
          | Add an Invoice Image
        .csv-drop-file
          p
            input.file-uploader#fileuploadimage( type="file", name="files[]", multiple)
          #dropzoneimage.dropzone
            span.typcn.typcn-folder-open
            .muted.text
              | Drag and drop image files here
          div(id="files", class="files")


block subfoot
  - var action = '/users/' + user.id
  .modal.edit-profile-modal
    .container
      .modal-wrap.col-lg-8
        span.close-button
          span.typcn.typcn-delete
        form.block(action=action, method="post", role="form", autocomplete="off")
          input(type='hidden', name='_csrf', value="#{csrf_token}")
          input(type="hidden", name="_method", value="PUT")

          .form-group
            label.control-label(for='name') First name 
            input#name.form-control(type='text', name="firstname", placeholder='First name (optinal)', value=user.firstname)

          .form-group
            label.control-label(for='name') Last name 
            input#name.form-control(type='text', name="lastname", placeholder='Last name (optinal)', value=user.lastname)

          .form-group
            label.control-label(for='name') Organization
            input#name.form-control(type='text', name="organization", placeholder='organization (optinal)', value=user.organization)

          .form-group
            label.control-label(for='email') Email
            input#email.form-control(type='text', name="email", placeholder='Email', value=user.email)

          .form-group
            label.control-label(for='name') Address
            input#email.form-control(type='text', name="address", placeholder='Address', value=user.address)

          .form-group.col-sm-4
            //label.control-label(for='name') City
            input#email.form-control(type='text', name="city", placeholder='City', value=user.city)

          .form-group.col-sm-3
            //label.control-label(for='name') State
            input#state.form-control(type='text', name="state", placeholder='State', value=user.state)

          .form-group.col-sm-2
            //label.control-label(for='name') Zipcode
            input#email.form-control(type='number', name="zipcode", placeholder='Zipcode', value=user.zipcode)




          .form-group
            button.left-float.btn.action(type='submit')
              span.typcn.typcn-tick
              |  Save
            a.right-float.btn.subtle.cancel.btn-danger(href='/articles', title="cancel")
              span.typcn.typcn-times
              |  Cancel

  script(type="text/javascript", src='/js/vendor/jquery-ui.js')
  script(type="text/javascript", src="/js/vendor/jquery.ui.widget.js")
  script(type="text/javascript", src="/js/vendor/jquery.iframe-transport.js")
  script(type="text/javascript", src="/js/vendor/jquery.fileupload.js")
  script(type="text/javascript", src="/js/dropzone.js")

  script.
    $( document ).ready(function() {

      $("body").on("click", ".btn-edit", function() {
        $(".edit-profile-modal").fadeIn();
      });
      $("body").on("click", ".edit-profile-modal .close-button, .edit-profile-modal .cancel.btn", function() {
        $(".edit-profile-modal").fadeOut();
      });

    });
    $('#fileuploadimage').fileupload({
             url: '#{user.id}/uploadimage'
            ,dataType: 'json'
            ,autoUpload: true
            ,dropZone: $('#dropzoneimage')
          //  acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            ,maxFileSize: 20000000 // 5 MB
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            ,disableImageResize: /Android(?!.*Chrome)|Opera/
                .test(window.navigator.userAgent)
            ,previewMaxWidth: 100
            ,previewMaxHeight: 100
            ,previewCrop: true
        }).on('fileuploaddone', function (e, data) {
          location.reload();
        })