extends auth

block auth
  .row.sign-up
    form.large.col.col-lg-5.center-block(action="/users", method="post", role="form")
      div.logo.center-block
        a(href="/")
          img(src="./img/logo.png")
      h1.center= title
      input(type='hidden', name='_csrf', value="#{csrf_token}")

      .form-group
        label(for='firstname') First name 
        input#firstname.form-control(type='text', name="firstname", placeholder='Optional', value=user.name)

      .form-group
        label(for='lastname') Last name 
        input#lastname.form-control(type='text', name="lastname", placeholder='Optional', value=user.name)

      .form-group
        label(for='organization') Organization
        input#organization.form-control(type='text', name="organization", placeholder='Optional', value=user.name)

      .form-group
        label(for='email') Email
        input#email.form-control(type='text', name="email", placeholder='Email', value=user.email)

      .form-group
        label(for='password') Password
        input#password.form-control(type='password', name="password", placeholder='Password')

      .form-group.center
        button.btn.action.center-block(type='submit') Sign up