extends ../layouts/default

block main
  link(rel='stylesheet', href='/css/index-page.css')
  .container.profile
    h2= title
    a.typcn.typcn-arrow-back(href="/settings")
      | back to profile
    .row
      .col-md-8
        span.right.btn.btn-default.btn-edit
          span(class="typcn typcn-edit")
            |  Edit
        if (org.name)
          h3=org.name
        else
          br
          p
            a.btn-edit(href="javascript:void(0);")
              | Add an Organziation Name...
        .meta
            p
              a(href=org.url, target="_blank")
                |#{org.url}
            if (org.address)
              p
                | Address:
                br
                | #{org.address}
                br
                | #{org.city}, #{org.state} #{org.zipcode}
            else
              br
              p
                a.btn-edit(href="javascript:void(0);")
                  | Add an Address...



    .row.invoice-form
      hr
      .col-md-12
        .meta.clear.show-view
          div.view-content
              .clear.to-block.clearfix
                p.col-sm-1 Members: 
                -if(req.members.length > 0)
                  - each viewer, i in req.members
                    div.col-sm-3.to
                      p
                        strong #{viewer.firstname} #{viewer.lastname}
                      p=viewer.email
                      -if (true)
                        form.form-inline(role="form", method="post", action='/organziations/'+org.id+'/removemember', onsubmit="return confirm('Remove this user from the group?')")
                          input(type='hidden', name='_csrf', value="#{csrf_token}")
                          input(type="hidden", name="_method", value="DELETE")
                          input(value=viewer.id, type="hidden", name="_id")
                          button.close-button(type="submit")
                            span.typcn.typcn-delete

      - if (true)
        .col-md-6
        .col-md-3
          button.right.btn.add-recipient-trigger.closed
            span.typcn.typcn-user-add
              |  Add Member
        .row.clear
          .right-float.add-recipient-form(style="display: none;")
            div.add-recipient-position
              span.close-button
                span.typcn.typcn-delete
              - if (true)
                form.block(method="post", action='/organziations/'+org.id+'/addmember', enctype="multipart/form-data", role="form")
                  //- input(type="hidden", name="_csrf", value="#{csrf_token}")
                  //- input(type="hidden", name="_method", value="POST")
                  .form-group
                    label.control-label(for='title') Email
                    input.form-control#title(type='text', name="email")
                  .form-group
                    label.control-label(for='title') First Name
                    input.form-control#title(type='text', name="firstname")
                  .form-group
                    label.control-label(for='title') Last Name
                    input.form-control#title(type='text', name="lastname")
                  .form-group
                    label.control-label(for='title') Organization <em><strong>(Optional)</strong></em>
                    input.form-control#title(type='text', name="organization")
                  .form-group
                    button.btn.subtle(type='submit')
                      span.typcn.typcn-user-add
                        |  Save

    
    .row.last
      hr
      .col-md-6
        h4 Image for Your Invocies:
        - if (org.profileImageCDN && org.profileImageFile)
          
          img(src="#{org.profileImageCDN}/user_thumb_#{org.profileImageFile}")
        - else 
          p.gray
            | Add an Image to the right 
            i.typcn.typcn-arrow-right
      .col-md-6
        h4
          
        .csv-drop-file
          p
            input.file-uploader#fileuploadimage( type="file", name="files[]", multiple)
          #dropzoneimage.dropzone
            span.typcn.typcn-folder-open
            .muted.text
              | Drag and drop image files here
          div(id="files", class="files")




block subfoot
  - var action = '/organziations/' + org.id
  .modal.edit-profile-modal
    .container
      .modal-wrap.col-lg-8
        span.close-button
          span.typcn.typcn-delete
        form.block(action=action, method="post", role="form", autocomplete="off")
          input(type='hidden', name='_csrf', value="#{csrf_token}")
          input(type="hidden", name="_method", value="PUT")

          .form-group
            label.control-label(for='name') Organzation Name 
            input#name.form-control(type='text', name="name", placeholder='First name (optinal)', value=org.name)

          .form-group
            label.control-label(for='name') Organzation URL
            input#url.form-control(type='text', name="url", placeholder='http://yourorganization.com', value=org.url)

          .form-group
            label.control-label(for='name') Address
            input#email.form-control(type='text', name="address", placeholder='Address', value=org.address)

          .form-group.col-sm-4
            //label.control-label(for='name') City
            input#email.form-control(type='text', name="city", placeholder='City', value=org.city)

          .form-group.col-sm-3
            //label.control-label(for='name') State
            input#state.form-control(type='text', name="state", placeholder='State', value=org.state)

          .form-group.col-sm-2
            //label.control-label(for='name') Zipcode
            input#email.form-control(type='number', name="zipcode", placeholder='Zipcode', value=org.zipcode)


          .form-group
            button.left-float.btn.action(type='submit')
              span.typcn.typcn-tick
              |  Save
            a.right-float.btn.subtle.cancel.btn-danger(href='/articles', title="cancel")
              span.typcn.typcn-times
              |  Cancel


  script(type="text/javascript", src='/js/vendor/jquery-ui.js')
  script(type="text/javascript", src="/js/vendor/jquery.ui.widget.js")
  script(type="text/javascript", src="/js/vendor/jquery.iframe-transport.js")
  script(type="text/javascript", src="/js/vendor/jquery.fileupload.js")
  script(type="text/javascript", src="/js/dropzone.js")

  script.
    $( document ).ready(function() {
      if(getParameterByName('type')==='edit'){
        $(".edit-profile-modal").fadeIn();
      }
      $("body").on("click", ".btn-edit", function() {
        $(".edit-profile-modal").fadeIn();
      });
      $("body").on("click", ".edit-profile-modal .close-button, .edit-profile-modal .cancel.btn", function() {
        $(".edit-profile-modal").fadeOut();
      });
      $(".invoice-form").on("click", ".add-recipient-trigger.closed", function() {
        $(".add-recipient-form").fadeIn();
        $(".add-recipient-trigger").removeClass("closed").addClass("opened");
      });
      $(".invoice-form").on("click", ".add-recipient-trigger.opened, .add-recipient-form .close-button", function() {
        $(".add-recipient-form").fadeOut();
        $(".add-recipient-trigger").removeClass("opened").addClass("closed");
      });

    });
    function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    $('#fileuploadimage').fileupload({
             url: '#{org.id}/uploadimage'
            ,dataType: 'json'
            ,autoUpload: true
            ,dropZone: $('#dropzoneimage')
          //  acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            ,maxFileSize: 20000000 // 5 MB
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            ,disableImageResize: /Android(?!.*Chrome)|Opera/
                .test(window.navigator.userAgent)
            ,previewMaxWidth: 100
            ,previewMaxHeight: 100
            ,previewCrop: true
        }).on('fileuploaddone', function (e, data) {
          location.reload();
        })